global
    maxconn 500

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres
    bind *:5000
    option tcp-check
    tcp-check connect
    tcp-check send-binary 00000016 # length
    tcp-check send-binary 00030000 # SSL request
    tcp-check expect binary 4e       # 'N' - SSL not supported
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pgbouncer_1_6432 pgbouncer-1:6432 maxconn 100 check port 6432
    server pgbouncer_2_6432 pgbouncer-2:6432 maxconn 100 check port 6432
    server pgbouncer_3_6432 pgbouncer-3:6432 maxconn 100 check port 6432
